<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body data-ng-app="Tictac">
  <div class="content">
                        <table class="game" data-ng-controller="MainCtrl as tac">
                            <tr>
                                <td class="cell" id="1" data-ng-class="{'clickable': checkClickable(1)}" data-ng-click="draw(1)"><div class="entry"><div class="X1"></div><div class="X2"></div></div></td>
                                <td class="cell" id="2" data-ng-class="{'clickable': checkClickable(2)}" data-ng-click="draw(2)"><div class="entry"><div class="O"></div></div></td>
                                <td class="cell" id="3" data-ng-class="{'clickable': checkClickable(3)}" data-ng-click="draw(3)"></td>
                            </tr>
                            <tr>
                                <td class="cell" id="4" data-ng-class="{'clickable': checkClickable(4)}" data-ng-click="draw(4)">4</td>
                                <td class="cell" id="5" data-ng-class="{'clickable': checkClickable(5)}" data-ng-click="draw(5)">5</td>
                                <td class="cell" id="6" data-ng-class="{'clickable': checkClickable(6)}" data-ng-click="draw(6)">6</td>
                            </tr>
                            <tr>
                                <td class="cell" id="7" data-ng-class="{'clickable': checkClickable(7)}" data-ng-click="draw(7)">7</td>
                                <td class="cell" id="8" data-ng-class="{'clickable': checkClickable(8)}" data-ng-click="draw(8)">8</td>
                                <td class="cell" id="9" data-ng-class="{'clickable': checkClickable(9)}" data-ng-click="draw(9)">9</td>
                            </tr>
                        </table>
  </div>
</body>
