<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.js"></script><!--ANIMATE NG-DIRECTIVES BASIC-->
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.5/dist/js/ngAlertify.js"></script><!--CREDIT Brad Berger & CONTRIBUTORS-->
</head>
<body data-ng-app="Tictac">
  <div class="content">
      <h1>Tic Tac Toe</h1>
      <h3>Starts Alternate on Draw or Victory</h3>
                        <table class="game" data-ng-controller="MainCtrl as tac">
                            <tr><!--TABLE CELL<ENTRY--(centers entry)<"/" PART OF X><"\"PART OF X><"O">---->
                                <td class="cell" data-ng-class="{'clickable': checkClickable(1)}" data-ng-click="draw(1)"><div class="entry"><div data-ng-if="checkX(1)" class="X1"></div><div data-ng-if="checkX(1)" class="X2"></div><div data-ng-if="checkO(1)" class="O"></div></div></td>
                                <td class="cell" data-ng-class="{'clickable': checkClickable(2)}" data-ng-click="draw(2)"><div class="entry"><div data-ng-if="checkX(2)" class="X1"></div><div data-ng-if="checkX(2)" class="X2"></div><div data-ng-if="checkO(2)" class="O"></div></div></td>
                                <td class="cell" data-ng-class="{'clickable': checkClickable(3)}" data-ng-click="draw(3)"><div class="entry"><div data-ng-if="checkX(3)" class="X1"></div><div data-ng-if="checkX(3)" class="X2"></div><div data-ng-if="checkO(3)" class="O"></div></div></td>
                            </tr>
                            <tr>
                                <td class="cell" data-ng-class="{'clickable': checkClickable(4)}" data-ng-click="draw(4)"><div class="entry"><div data-ng-if="checkX(4)" class="X1"></div><div data-ng-if="checkX(4)" class="X2"></div><div data-ng-if="checkO(4)" class="O"></div></div></td>
                                <td class="cell" data-ng-class="{'clickable': checkClickable(5)}" data-ng-click="draw(5)"><div class="entry"><div data-ng-if="checkX(5)" class="X1"></div><div data-ng-if="checkX(5)" class="X2"></div><div data-ng-if="checkO(5)" class="O"></div></div></td>
                                <td class="cell" data-ng-class="{'clickable': checkClickable(6)}" data-ng-click="draw(6)"><div class="entry"><div data-ng-if="checkX(6)" class="X1"></div><div data-ng-if="checkX(6)" class="X2"></div><div data-ng-if="checkO(6)" class="O"></div></div></td>
                            </tr>
                            <tr>
                                <td class="cell" data-ng-class="{'clickable': checkClickable(7)}" data-ng-click="draw(7)"><div class="entry"><div data-ng-if="checkX(7)" class="X1"></div><div data-ng-if="checkX(7)" class="X2"></div><div data-ng-if="checkO(7)" class="O"></div></div></td>
                                <td class="cell" data-ng-class="{'clickable': checkClickable(8)}" data-ng-click="draw(8)"><div class="entry"><div data-ng-if="checkX(8)" class="X1"></div><div data-ng-if="checkX(8)" class="X2"></div><div data-ng-if="checkO(8)" class="O"></div></div></td>
                                <td class="cell" data-ng-class="{'clickable': checkClickable(9)}" data-ng-click="draw(9)"><div class="entry"><div data-ng-if="checkX(9)" class="X1"></div><div data-ng-if="checkX(9)" class="X2"></div><div data-ng-if="checkO(9)" class="O"></div></div></td>
                            </tr>
                        </table>
  </div>
</body>
