body {
  text-align:center;
  background-color: #012;
}
.content {
  position: relative;
  min-height: 100vh;
  min-width:100vw;
  color: #ffffff;
  text-align: center;
  padding-top: 15%;
}

.game{
  position: relative;
    width:40vh;
    height:40vh;
    min-width: 400px;
    min-height: 400px;
    margin: auto;
    border: 1px solid red;
}
.game tr{
    height: 33%;
    border: 1px solid white;
}
.game td{
    width:33%;
    border: 1px solid white;
}
.cell:hover{
    background-color: rgba(0,255,0,0.5);
    transition: all 0.1s ease-in-out;
}
.cell .clickable{
    cursor: pointer;   
}
.cell .Xed{
    content: "X";
}
.cell .Oed{
    content: "O";
}