body {
  text-align:center;
  background-color: #012;
}
.content {
  position: relative;
  min-height: 100vh;
  min-width:100vw;
  color: #ffffff;
  text-align: center;
  padding-top: 15%;
}

.game{
  position: relative;
    width:40vh;
    height:40vh;
    min-width: 400px;
    min-height: 400px;
    margin: auto;
    border: 1px solid red;
}
.game tr{
    height: 33%;
    border: 1px solid white;
}
.game td{
    width:33%;
    border: 1px solid white;
}
.cell{
    position: relative;
}
.cell:hover{
    background-color: rgba(0,255,0,0.5);
    transition: all 0.1s ease-in-out;
}
.clickable{
    cursor: pointer;   
}
.X1{
  background: #fff;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
  @include transform(rotate(-45deg));
}
.X2{
  background: #fff;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}