body {
  text-align:center;
  background-color: #012;
}
.content {
  position: relative;
  min-height: 100vh;
  min-width:100vw;
  color: #ffffff;
  text-align: center;
  padding-top: 15%;
}

.game{
  position: relative;
    width:40vh;
    height:40vh;
    min-width: 400px;
    min-height: 400px;
    margin: auto;
    border: 1px solid red;
}
.game tr{
    height: 33%;
    border: 1px solid white;
}
.game td{
    width:33%;
    border: 1px solid white;
}
.cell{
    position: relative;
}
.cell:hover{
    background-color: rgba(0,255,0,0.5);
    transition: all 0.1s ease-in-out;
}
.clickable{
    cursor: pointer;   
}
.entry{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.fadeOut {
    opacity:0;
}
.fadeIn {
    opacity:1;
}
.slideIn {
    transform: translateY(50%);
}
.X1, .X2{
  background: #fff;
  height: 50%;
  left:50%;
  position: absolute;
  transform-origin: 50% 100%;
  width: 2.5%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.X1{transform: rotate(45deg) translateY(50%);}
.X2{transform: rotate(-45deg) translateY(50%);}





.O{
    position: absolute;
  top:25%;
  left:28%;
  height:45%;
  width:45%;
  margin:auto;
  border:3px solid white;
  border-radius: 50%;
}